@import url("https://fonts.googleapis.com/css2? family= Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700; 1.900 & display=trocar");

@font-face {
    font-family: 'Textos';
    src: url('../fonts/Pokemon Solid.ttf') format('truetype');
    font-style: normal;
}
@font-face {
    font-family: 'Texto2';
    src: url('../fonts/Bright Gesture DEMO.otf') format('opentype');
    font-style: normal;
}
* {
    margin: 0%;
    padding: 0%;
}
body#index{ 
    background-image: radial-gradient(white , rgb(175, 173, 173));
    background-attachment: fixed;
    width: 100%;
    height: 100%;
    min-width: 320px;
    min-height: 800px;    
}
header#titulo{
    background: radial-gradient(red , rgb(189, 2, 2));
    padding: 2%;
}
body#bCadastro{ 
    background-image: radial-gradient(rgb(248, 77, 77), rgb(250, 197, 197));
    background-attachment: fixed;
    width: 100%;
    height: 100%;
    min-width: 320px;
    min-height: 800px;
}
h1 {
    text-align: center;
}
section#cards{
    display:flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin-top: 2rem;
}
section#cards div.card{
    background-color: transparent;
    width: 20rem;
    box-shadow: 5px 5px 5px 5px rgb(255, 136, 136);
    padding: 1rem;
    border-radius: 3rem;  
}
button#btCard {
    border-color: transparent;
    outline:none;
    border-radius: 3rem;  
}
section#cards div.card img{
    width: 100%;
}  

section#cards div.card h2 {
    width: 100%;
    text-align: center;
    font-family: 'Texto2', serif;
    font-size: 2.5rem;
}
section#cards div.card p{
    margin-bottom: 0.8rem;
    font-family: 'Textos', serif;
    font-size: 1.5rem;
    font-weight: normal;
    color:rgb(36, 0, 167)
}
button#btcadastro{
    border-color: transparent;
    display: flex;
    padding: 0.8rem;
    width: 30%;
    margin: 10rem auto;
    font-size: 2.0rem;
    justify-content: center; 
    outline:none;
    border-radius: 3rem;  
    box-shadow: 5px 5px 5px 5px rgb(255, 136, 136);
}

section.cadastro{
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
    align-self: center;
    padding: 3rem;
}
h2 {
    width: 100%;
    text-align: center;
    font-family: 'Textos', serif;
    font-size: 3.0rem;
    color: rgb(3, 3, 156);
    
}
button#btPokedex{
    margin: 3rem;
    border-color: rgb(99, 114, 255);
    outline:none;
    border-radius: 2rem;  
    font-size: 1.5rem;
}
section.cadastro form{
    width: 50%;
    margin-left: 25%;
}
section.cadastro form input{
    width: 100%;
    padding: 1rem;
    font-size: 1rem ;
    outline: none;
    border: solid 2px rgb(221, 217, 217);
    margin: 0 1rem 1rem 1rem;
}
section.cadastro form label {
    margin: 1rem;
    padding: 0.8rem;
    font-size: 1.5rem;
}

section.cadastro form button{
    display: flex;
    padding: 0.8rem;
    width: 30%;
    margin: 0 auto;
    font-size: 1.3rem;
    justify-content: center;
}
body.bdetalhes{
    background-image: radial-gradient(rgb(248, 77, 77), rgb(250, 197, 197));
    background-attachment: fixed;
    width: 100%;
    height: 100%;
    min-width: 320px;
    min-height: 800px;
}
header#titulo2{
    margin: 2rem;
}
section.detalhe{
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
    align-self: center;
    padding: 3rem;
}
section.detalhe div#detalhes{
    display:flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 2rem;
}
section.detalhe div#detalhes img{
    display: flex;
    justify-content: center;
    width: 30%;
    margin-top: 2rem;
}  

section.detalhe div#detalhes  h2 {
    width: 100%;
    text-align: center;
    font-family: 'Texto2', serif;
    font-size: 2.5rem;
    padding-bottom: 3rem;
}
section.detalhe p{
    display:flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 0.8rem;
    font-family: 'Textos', serif;
    font-size: 2.0rem;
    font-weight: normal;
    color:rgb(36, 0, 167)
}
button#retorno{
    border-color: rgb(3, 3, 156);
    display: flex;
    padding: 0.8rem;
    width: 30%;
    margin: 5rem auto;
    font-size: 1.0rem;
    justify-content: center; 
    outline:none;
    border-radius: 3rem;  
    box-shadow: 5px 5px 5px 5px rgb(130, 132, 252);
}
button{
  background-color:transparent;
  border-color:#272262;
  color:#272262;
  padding:7px;
  font-weight:bold;
  font-size:12pt;
  margin-top:5rem;
  border-radius:4px;
  cursor:pointer;
  outline:none;
  transition:all 0.3s ease-out;
}
button:hover{
    background-color: rgb(166, 166, 248);
    color:rgb(36, 0, 167);
    
}
