@import url("https://fonts.googleapis.com/css2? family= Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700; 1.900 & display=trocar");

@font-face {
    font-family: 'Textos';
    src: url('../fonts/Pokemon Solid.ttf') format('truetype');
    font-style: normal;
}
@font-face {
    font-family: 'Texto2';
    src: url('../fonts/Bright Gesture DEMO.otf') format('opentype');
    font-style: normal;
}
* {
    margin: 0%;
    padding: 0%;
}
body#index{ 
    background-image: radial-gradient(white , rgb(175, 173, 173));
    background-attachment: fixed;
}
header#titulo{
    background: radial-gradient(red , rgb(189, 2, 2));
    padding: 2%;
}
body#bCadastro{ 
    background-image: radial-gradient(rgb(253, 113, 113), rgb(250, 197, 197));
    background-attachment: fixed;
}
h1 {
    text-align: center;
}
section#cards{
    display:flex;
    justify-content: space-evenly;
    margin-top: 2rem;
}
section#cards div.card{
    width: 20rem;
    box-shadow: 5px 5px 5px 5px rgb(255, 136, 136);
    padding: 1rem;
    border-radius: 3rem;  
}
button#btCard {
    border-color: transparent;
    outline:none;
    border-radius: 3rem;  
}
section#cards div.card img{
    width: 100%;
}  

section#cards div.card h2 {
    width: 100%;
    text-align: center;
    font-family: 'Texto2', serif;
    font-size: 2.5rem;
}
section#cards div.card p{
    margin-bottom: 0.8rem;
    font-family: 'Textos', serif;
    font-size: 1.5rem;
    font-weight: normal;
    color:rgb(36, 0, 167)
}
button{
    margin-block-end: 5rem;
    padding: 2rem;
    border-color: rgb(99, 114, 255);
    outline:none;
    border-radius: 3rem;  
}

section#cadastro{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 5rem;
}
h2 {
    width: 100%;
    text-align: center;
    font-family: 'Textos', serif;
    font-size: 3.0rem;
    color: rgb(3, 3, 156);
}
button#btPokedex{
    display: flex;
    justify-content: center;
    flex-wrap: center;
    align-items: center;
    border-color: rgb(99, 114, 255);
    outline:none;
    border-radius: 3rem;  
}
section#cadastro form input{
     width: 100%;
     padding-bottom: 2rem;
     padding: 0.8rem;
     font-size: 1rem ;
     outline: none;
     border: solid 1px rgb(221, 217, 217);
     margin: 0 1rem 1rem 1rem;

}

section#cadastro form label {
    margin: 1rem;
    border: solid 2px rgb(221, 217, 217);
    
}

section#cadastro form button:hover{
    background-color: rgb(171, 154, 218);
    color:blue;

}
button{

  background-color:transparent;
  border-color:#272262;
  color:#272262;
  padding:7px;
  font-weight:bold;
  font-size:12pt;
  margin-top:5rem;
  border-radius:4px;
  cursor:pointer;
  outline:none;
  transition:all 0.3s ease-out;
  
}
.justify-center{
    display:flex;
    justify-content:center;
    margin-block-end: 4rem;
    
}
button:hover{
    background-color: rgb(166, 166, 248);
    color:rgb(36, 0, 167);
    
}
